@import url("index.css");
@import url("style_compras.css");
@import url("fluxograma.css");


body {
    background-image: url("../assets/img/background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}


button{
    cursor: pointer;
    color: white;
}

.voltar{
    display: flex;
    gap: 8px;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    justify-content: center;
    font-weight: 700;

    position: absolute;
    top: 8px;
    left: 4px;
}

.voltar img{
    transform: translateY(px);
    width: 20px;
}
h3{
    margin: 0px 0px 16px;
    font-size: 24px;
}

h4{
    color: white;
    font-size: 24px;
    margin: 0px 0px 2px
}


.line{
    content: "";
    background: white;
    height: 2px;
    width: 400px;

    margin: 0px;
}

.margin_none{
    margin: 8px 0px 16px;
    width: 700px;
    font-size: 20px;
}

.img_config{
    display: flex;
    align-items: center;
}

.img_config img{
    width: 700px;
    height: 350px;
}


footer{
    padding: 16px 0px 4px;

    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

.style_flex button {
    font-size: 8px;
    max-width: 100px;
}

.style_flex button p{
    margin: 0px;
}
